$theme:#626DEA;
$black: #000000;
$white: #ffffff;
$eee:#eeeeee;
$text-color: #333333;
$text-minor-color:#aaa;
$text-color-light: #666666;
$text-color-lighter: #999999;
$border-color: #dddddd;
$border-radius: 4px;
$image-bg: #f4f4f4;
$background-bg:#F7F7F7;